<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aritcles</title>
</head>
<body>
    <h1><u>Articles in the WIKI</u> </h1>
    <ul>
    {% for article in article%}
        <li><a href="{%url 'detail' article.id%}">{{article.title}}</a></li>
    {% endfor %}
    </ul>

    <a href="{%url 'add_articles'%}">Add another article</a>
    
</body>
</html>